:root {
  --mate-blue: #00acdc;
}

body {
  font-family: Roboto, sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  margin: 0;
  font-size: 12px;
}

nav {
  display: flex;
  justify-items: center;
  justify-content: space-around;
  border: 1px solid black;
  height: 60px;
}

.logo {
  align-self: center;
}

nav img {
  height: 40px;
  width: auto;
  align-self: center;
}

nav ul {
  list-style-type: none;
  display: flex;
}

li {
  text-transform: uppercase;
  align-content: center;
  padding: 8px;
}

a {
  text-decoration: none;
  color: unset;
}

nav li:active {
  border-bottom: 2px solid var(--mate-blue);
}

li a:hover {
  color: var(--mate-blue);
}

@media only screen and (max-width: 1024px) {
  nav {
    max-width: 1024px;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  nav {
    max-width: 1200px;
  }
}
